.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.logo {
  margin-top: 50px;
}
.items {
  display: flex;
  margin-top: 50px;
}
.item {
  margin-top: 6px;
  margin-left: 40px;
  font-size: 20px;
}
