.wrapper {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.carouselBody {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.carouselBody img {
  width: 90%;
  margin: 0 auto;
}

.content {
  color: white;
  display: flex;
  margin-top: 18px;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.btn {
  position: absolute;
  right: 40px;
  margin-top: 70px;
}

.btn1 {
  position: absolute;
  right: 150px;
  margin-top: 70px;
}
